<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PrimaryServer" value="sql-des\qa"/>
    <add key="SecondaryServer" value="sql-des\lab"/>
  </appSettings>
</configuration>